<div class="control">
  <button [disabled]="buttonDisabled" *ngFor="let button of buttonsUp" (click)="onClick(button)">{{button}}</button>
  <br>
  <button [disabled]="buttonDisabled" *ngFor="let button of buttonsMiddle" (click)="onClick(button)">{{button}}</button>
  <br>
  <button class="buttons-down" [disabled]="buttonDisabled" *ngFor="let button of buttonsDown" (click)="onClick(button)">{{button}}</button>
  <br>
  <button class="buttons-down" [disabled]="buttonDisabled" (click)="onRandomClick()">Random</button>
  <button class="buttons-down" [disabled]="buttonDisabled || !savedMoves.length" (click)="onReverseSolveClick()">Solve Reverse</button>
  <button class="buttons-down" [disabled]="buttonDisabled || !savedMoves.length" (click)="onTrueSolveClick()">True Solve</button>
  <br>
  <p class="saved-moves">{{savedMovesView}}</p>
</div>
